<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8" />
   <title>Titan Brawls</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="visemire" >
   <meta name="keyword" content="Hero Wars, Titan Brawl, Defeat Titan Team, Search, Titan Team">
   <meta name="description" content="Search for the Titan Team to Defeat the challenging Titan Team. Find out what Team can defeat what team.">
  <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="select-none">
   <div id="app" 
      class="">
      <!-- Select Team Button -->
      <div 
         class="
            w-full 
            flex  
            justify-center 
            fixed 
            bottom-1">
         <div 
            class="
               bg-black 
               flex items-center 
               rounded-full">
            <span 
               class="
                  ml-1 
                  p-2 
                  bg-green-500 
                  rounded-l-full 
                  uppercase">
               Select
            </span>
            <button
            @click="openTeamDialog"
            class=" text-white bg-green-500 rounded-md hover:bg-green-600"
            >
               <span >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
               </span>
            </button>
            <span class=" mr-1 p-2 bg-green-500 rounded-r-full uppercase">
               Team
            </span>
         </div>
      
      </div>
      <!-- END OF Select Team Button -->


      <!-- Dialog Modal for Selecting Team with Image and Details (Full Screen) -->
      <div v-if="showTeamDialog" 
         class="
            fixed 
            inset-0
            top-0
            z-50
            flex 
            items-center 
            justify-center 
            bg-gray-800 
            bg-opacity-75">
         <div 
            class="
               bg-white 
               rounded-lg 
               w-full 
               h-full 
               max-w-none 
               overflow-y-auto 
               flex 
               flex-col">
            <div 
               class="
                  flex 
                  justify-center 
                  bg-gray-300">
               <h2 
                  class="
                     text-xl
                     p-2 
                     font-bold">
                  Select Titans for Your Team
               </h2>
            </div>
            <!-- Scrollable Titan List -->
            <div 
               class="
                  grow 
                  grid 
                  p-4
                  grid-cols-2 
                  lg:grid-cols-4 
                  overflow-y-auto 
                  flex-1"> 
               <div
                  v-for="titan in titans"
                  :key="titan.name"
                  class="
                     group 
                     relative
                     p-4 
                     border 
                     mx-2
                     my-2
                     shadow 
                     rounded-full 
                     hover:shadow-lg 
                     transition 
                     cursor-pointer"
                  :class="{'bg-green-100': selectedTeam.includes(titan)}"
                  @click="toggleSelection(titan)">

                  <img 
                     :src="titan.image_location" 
                     :alt="titan.name" 
                     class="
                        relative 
                        w-auto
                        h-60
                        object-cover
                        mx-auto 
                        mb-2 " />
                        <!-- This div will be hidden by default and shown when hovered -->
                  <div>

                  </div>
                     <div 
                        class="
                           absolute 
                           bottom-0
                           left-0
                           w-full
                           opacity-0 
                           h-1/2 
                           group-hover:opacity-100 
                           bg-gray-300 
                           rounded-b-full
                           bg-opacity-75 ">
                        <p class="
                           uppercase
                           text-center 
                           underline
                           lg:text-xl
                           text-sm 
                           font-bold">{{ titan.name }}</p>
                        <p class="capitalize text-center lg:text-base text-sm text-gray-800">{{ titan.title }}</p>
                        <p class="capitalize text-center text-sm">Role: <span class="font-bold">{{ titan.main_role }}</span></p>
                        <p class="capitalize text-center text-sm">fight at: <span class="font-bold">{{ titan.fights_at}}</span></p>
                        <p class="capitalize text-center text-sm" v-if="titan.additional_role !== 'none'">Add: <span class="font-bold">{{ titan.additional_role }}</span></p>
                     </div>
               </div>
            </div>
            <!-- Scrollable Titan List -->

            <!-- Confirm -->
            <div>
               <div class="fixed bottom-4 right-8">
                  <button @click="confirmTeam" 
                     class="
                        px-6 
                        py-2 
                        text-white 
                        bg-blue-500 
                        rounded-full 
                        hover:bg-blue-600">
                     Confirm
                  </button>
               </div>
            </div>        
         </div>
      </div>

      <!-- Display Blank Cards with Selected Team -->
      <div class="grid grid-cols-5 lg:gap-4 gap-1 mt-6 mx-6">
         <div v-for="(card, index) in blankCards" :key="index" class="lg:p-4 border rounded-md">
            <div v-if="card" class="relative select-none pb-4">
               <!-- Mobile View -->
               <div class="block lg:hidden">
                  <img :src="card.avatar_location" :alt="card.name" class="object-cover rounded-full h-auto w-full">
                  <div class="absolute w-full bg-gray-300 rounded shadow-lg text-center">
                     <h2 class="capitalize text-sm ">{{ card.name }}</h2>
                  </div>
                  <span class="
                     bg-opacity-75 
                     absolute
                     bg-gray-300
                     hover:bg-pink-300 
                     rounded-full
                     top-0 
                     right-0 
                     "
                     @click="removeFromBlankCard(index)">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                     class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                  </span>
               </div>
               <!-- Desktop View -->
               <div class="hidden lg:block">
                  <img :src="card.image_location" :alt="card.name" class="object-cover w-auto xl:h-60 lg:h-32 mx-auto pb-6">
                  <div class="absolute w-full bg-gray-300 p-2 rounded shadow-lg text-center">
                     <h2 class="uppercase xl:text-base lg:text-sm font-bold">{{ card.name }}</h2>
                  </div>
                  <span class="
                     bg-opacity-75 
                     absolute
                     bg-gray-300
                     hover:bg-pink-300 
                     rounded-full
                     top-0 
                     right-0 
                     "
                     @click="removeFromBlankCard(index)">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                     class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                  </span>
               </div>
            </div>
            <div v-else class="relative select-none pb-4">
               <!-- Titan Data -->
               <!-- Mobile View -->
               <div class="block lg:hidden">
                  <img :src="default_team[index].avatar_location" :alt="default_team[index].name" class="object-cover rounded-full h-auto w-full">
                  <div class="absolute w-full bg-gray-300 rounded shadow-lg text-center">
                     <h2 class="capitalize text-sm ">{{ default_team[index].name }}</h2>
                  </div>
                  <span class="
                     bg-opacity-75 
                     absolute
                     bg-gray-300
                     hover:bg-pink-300 
                     rounded-full
                     top-0 
                     right-0 
                     "
                     @click="removeFromBlankCard(index)">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                     class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                  </span>
               </div>
               <!-- Desktop View -->
               <div class="hidden lg:block">
                  <img :src="default_team[index].image_location" :alt="default_team[index].name" class="object-cover w-auto xl:h-60 lg:h-32 mx-auto pb-6">
                  <div class="absolute w-full bg-gray-300 p-2 rounded shadow-lg text-center">
                     <h2 class="uppercase xl:text-base lg:text-sm font-bold">{{ default_team[index].name }}</h2>
                  </div>
                  <span class="
                     bg-opacity-75 
                     absolute
                     bg-gray-300
                     hover:bg-pink-300 
                     rounded-full
                     top-0 
                     right-0 
                     "
                     @click="removeFromBlankCard(index)">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red"
                     class="h-6 w-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                      </svg>
                  </span>
               </div>
            </div>
         </div>
      </div>

      <!-- Winning Team Section -->
      <div v-if="winningTeam.length > 0" class="mt-12 mx-6">
         <h2 class="text-xl font-bold">Winning Team:</h2>
         <div class="w-full flex justify-end lg:pr-14 pr-2">
            Suggess
         </div>
         <!-- List of all winning team -->
         <div class="grid grid-cols-5 lg:gap-4 gap-1 mt-2 border-t-2 rounded-lg pt-2">
            <h3 class="capalitize col-span-5 place-self-end lg:mr-14 mr-2 underline">Suggessed by: <span class="
               text-blue-600 uppercase">@Para</span></h3>
            <div v-for="titan in winningTeam" :key="titan.name" class="lg:p-4 border rounded-md">
               <div class="relative select-none pb-4">
                  <!-- Mobile View -->
                  <div class="block lg:hidden">
                     <img :src="searchLocation(titan.name).avatar_location" :alt="titan.name" class="object-cover rounded-full h-auto w-full">
                     <div class="absolute w-full bg-gray-300 rounded shadow-lg text-center">
                        <h2 class="capitalize text-sm ">{{ titan.name }}</h2>
                     </div>
                  </div>
                  <!-- Desktop View -->
                  <div class="hidden lg:block">
                     <img :src="searchLocation(titan.name).image_location" :alt="titan.name" class="object-cover w-auto xl:h-60 lg:h-32 mx-auto pb-6">
                     <div class="absolute w-full bg-gray-300 p-2 rounded shadow-lg text-center">
                        <h2 class="uppercase xl:text-base lg:text-sm font-bold">{{ titan.name }}</h2>
                     </div>
                  </div>
               </div>
            </div>            
         </div>
      </div>
  </div>
  <script src="app.js">
  </script>
</body>
</html>
